.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s ease-in-out;
    position: relative;

    .switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .lang {
        margin-left: 20px;
    }

    .collapsedBtn {
        position: absolute;
        right: -32px;
        bottom: 32px;
        z-index: 1;
    }

    .items {
        margin-top: 20px;
        margin-left: 30px;
    }

    .link {
        margin-left: 10px;
    }

    .icon {
        fill: var(--inverted-primary-color);
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    // .link {
    //     display: inline;
    //     width: 0;
    //     opacity: 0;
    //     margin-left: 0;
    //     transition: 0.2 opacity;
    // }
}

.SidebarRedesigned {
    position: relative;
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;

    .appLogo {
        padding-top: 22px;
    }

    .items {
        margin-top: 40px;
    }

    .collapsedBtn {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 1;
        transform: rotate(90deg);
    }

    .switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }
}

.collapsedRedesigned {
    width: 100px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .items {
        display: flex;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    // .link {
    //     display: inline;
    //     width: 0;
    //     opacity: 0;
    //     margin-left: 0;
    //     transition: 0.2 opacity;
    // }

    .collapsedBtn {
        transform: rotate(-90deg);
    }
}
