.Popover {
    // display: flex;

    // font-size: 22;
}

// .trigger {
//     background: none;
//     border: none;
//     outline: none;
//     padding: 0;
//     margin: 0;
// }

.panel {
    position: absolute;
    padding: 10px 15px;
    border-radius: 8px;
    background: var(--card-bg);
    z-index: 10000;
}
