.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        display: inline;
        width: 0;
        opacity: 0;
        margin-left: 0;
        transition: 0.2 opacity;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;
    justify-content: center;

    .link {
        width: 0;
        opacity: 0;
        margin-left: 0;
    }
}

.active {
    background: linear-gradient(
        89.97deg,
        rgb(94 211 243 / 30%) 1.15%,
        rgb(94 211 243 / 0%) 99.97%
    );
    border-left: 1px solid var(--accent-redesigned);
}
