.BIG {
    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 8px;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin: 16px 0;
    }

    .textBlock {
        max-height: 210px;
        margin-bottom: 16px;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }
}

.SMALL {
    width: 230px;
    transition: 0.2;
    cursor: pointer;

    .date {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .infoWrapper {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .types p {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        margin-top: 8px;
    }

    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.ArticleListItemRedesigned {
    &.BIG {
        width: 100%;
    }

    &.SMALL {
        .card {
            width: 240px;
            height: 350px;
        }
    }
}
