.app.dark {
    --bg-color: #0d0980;
    --inverted-bg-color: #d9d9dd;
    --primary-color: #64c952;
    --secondary-color: #0c8e0c;
    --inverted-primary-color: #2007c2;
    --inverted-secondary-color: #0f57ff;
}
