.app_dark_theme {
    --bg-color: #0d0980;
    --inverted-bg-color: #d9d9dd;
    --primary-color: #37e718;
    --secondary-color: #191;
    --inverted-primary-color: #1d5cfb;
    --inverted-secondary-color: #0f57ff;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // Skeleton
    --skeleton-color: #391ee8;
    --skeleton-shadow: #3418e9;

    // Code
    --code-bg: #4027e6;

    // Card
    --card-bg: #1a13ad;

    // Listbox
    --listbox-bg: #1a13ad;
}
