.app_dark_theme {
    --bg-color: #0d0980;
    --inverted-bg-color: #d9d9dd;
    --primary-color: #37e718;
    --secondary-color: #191;
    --inverted-primary-color: #1d5cfb;
    --inverted-secondary-color: #0f57ff;

    // Skeleton
    --skeleton-color: #391ee8;
    --skeleton-shadow: #3418e9;

    // Code
    --code-bg: #4027e6;

    // Card
    --card-bg: #1a13ad;

    // Listbox
    --listbox-bg: #1a13ad;
}
