// .app.light
:root {
    --bg-color: #d9d9dd;
    --inverted-bg-color: #220b87;
    --primary-color: #2909fe;
    --secondary-color: #0f57ff;
    --inverted-primary-color: #64c952;
    --inverted-secondary-color: #0c8e0c;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF77;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // Skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #09012a2c;

    // Code
    --code-bg: #fff;

    // Card
    --card-bg: #ceced5;

    // Listbox
    --listbox-bg: #ceced5;
}
