// .app.light
:root {
    --bg-color: #d9d9dd;
    --inverted-bg-color: #220b87;
    --primary-color: #2909fe;
    --secondary-color: #0f57ff;
    --inverted-primary-color: #64c952;
    --inverted-secondary-color: #0c8e0c;

    // redesigned
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f6;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // Skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #09012a2c;

    // Code
    --code-bg: #fff;

    // Card
    --card-bg: #ceced5;

    // Listbox
    --listbox-bg: #ceced5;
}
