.app.light {
    --bg-color: #d9d9dd;
    --inverted-bg-color: #220b87;

    --primary-color: #2909fe;
    --secondary-color: #0f57ff;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #64c952;
}
