.app_violet_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #400380;
    --primary-color: #5c09b5;
    --secondary-color: #810bfe;
    --inverted-primary-color: #d6d0df;
    --inverted-secondary-color: #f7f4fb;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // Skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #09012a2c;

    // Code
    --code-bg: #f7f4fbcb;

    // Card
    --card-bg: #babac1;

    // Listbox
    --listbox-bg: #babac1;
}
