.app_violet_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #400380;
    --primary-color: #810bfe;
    --secondary-color: #020b5a;
    --inverted-primary-color: #d6d0df;
    --inverted-secondary-color: #f7f4fb;
}
