.app_violet_theme {
    --bg-color: #f7f4fb;
    --inverted-bg-color: #400380;
    --primary-color: #5c09b5;
    --secondary-color: #810bfe;
    --inverted-primary-color: #d6d0df;
    --inverted-secondary-color: #f7f4fb;

    // Skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #09012a2c;

    // Code
    --code-bg: #f7f4fbcb;

    // Card
    --card-bg: #babac1;

    // Listbox
    --listbox-bg: #babac1;
}
