// .trigger {
//     background: none;
//     border: none;
//     outline: none;
//     padding: 0;
//     margin: 0;

//     &:hover {
//         cursor: pointer;
//         opacity: 0.7;
//     }
// }

.menu {
    position: absolute;
    background: var(--dark-bg-redesigned);
    outline: none;
    z-index: 10000;
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 20px;
    width: 100%;
    color: var(--text-redesigned);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
